<nav>
	<ul class="nav flex-column">
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd1">CMD1</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd2">CMD2</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd3">CMD3</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD4</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD5</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD6</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD7</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD8</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD9</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD10</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD11</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD12</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD13</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD14</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link" href="req2/cmd4">CMD15</NavLink>
		</li>
	</ul>
</nav>

@code {

}
