<nav class="navbar">
	<ul class="navbar-nav flex-row">
		<li class="nav-item px-2">
			<NavLink>File</NavLink>
		</li>
		<li class="nav-item px-2">
			<NavLink>Page Layout</NavLink>
		</li>
		<li class="nav-item px-2">
			<NavLink>More</NavLink>
		</li>
	</ul>
</nav>

@code {

}
